.insertion {
    text-decoration: underline;
    color: yellow;
}
.deletion {
    text-decoration: underline;
    color: blue;
}
.replacement {
    text-decoration: underline;
    color: red;
}
.shadowDiv {
    pointer-events: none;
}
.shadowDiv span {
    pointer-events: auto;
}
.shadowDiv div {
    pointer-events: auto;
}
.correction-panel {
    position: absolute;
    z-index: 3;
    color: Black;
    width: 200px;
    height: 100px;
    visibility: hidden;
    background-color: White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    border: 2px solid dimgray;
}

.button-panel {
    border: 1px solid gray;
    border-radius: 10px;
    width: 100px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}
.reject-button {
    background-color: Red;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.accept-button {
    background-color: Green;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}