asgiref>=3.9.0
Django>=5.2.0
django-cors-headers>=4.7.0
djangorestframework>=3.16.0
psycopg2-binary>=2.9.0
python-dotenv>=1.1.0
sqlparse>=0.5.0
tzdata>=2025.0

torch>=2.4.1
transformers>=4.30.0
sentencepiece>=0.2.00  # Needed for MT5 tokenizer
protobuf>=3.20.0
google-generativeai>=0.8.5
regex~=2025.9.1
requests~=2.32.5
fasttext-wheel~=0.9.2
pandas>=2.0.0
lexicalrichness>=0.5.1
textstat>=0.7.4
