<header class="masthead mb-auto pb-3">
  <div class="inner">
    <h3 class="masthead-brand" style="color: white;">SpellPal</h3>
    <nav class="nav nav-masthead justify-content-center">

      <i class="fs-4 bi-house me-2 text-white"></i>
      {% if request.resolver_match.url_name == 'covertest' %}
        <span class="nav-link me-2 active">Home</span>
      {% else %}
        <a class="nav-link me-2" href="/">Home</a>
      {% endif %}

      <i class="fs-4 bi-speedometer2 me-2 text-white"></i>
      {% if request.resolver_match.url_name == 'dashboard' %}
        <span class="nav-link me-2 active">Dashboard</span>
      {% else %}
        <a class="nav-link me-2" href="{% url 'dashboard' %}">Dashboard</a>
      {% endif %}

      <i class="fs-4 bi-envelope me-2 text-white"></i>
      {% if request.resolver_match.url_name == 'contact' %}
        <span class="nav-link me-2 active">Contact</span>
      {% else %}
        <a class="nav-link me-2" href="{% url 'contact' %}">Contact</a>
      {% endif %}

      <i class="fs-4 bi-person me-2 text-white"></i>
      {% if not user.is_authenticated %}
        {% if request.resolver_match.url_name == 'login' %}
          <span class="nav-link me-2 active">Login</span>
        {% else %}
          <a class="nav-link me-2" href="{% url 'login' %}">Login</a>
        {% endif %}
      {% else %}
        {% if request.resolver_match.url_name == 'logout' %}
          <span class="nav-link me-2 active">Logout</span>
        {% else %}
          <a class="nav-link me-2" href="{% url 'logout' %}">Logout</a>
        {% endif %}
      {% endif %}
    </nav>
  </div>
</header>
