<div id="loginPanel" style="display: block; flex-direction: column">
    <form action='login'>
            <label>Email</label>
            <input type="email"/>
            <label>Password</label>
            <input type="password"/>
            <button type="submit">Submit</button>
    </form>
</div>
<div id="registerPanel" style="display: block; flex-direction: column">
    <form action='login'>
        <label>
            Email
            <input type="email"/>
        </label>
        <label>
            Password
            <input type="password"/>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>