<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slicing Algorithm Test</title>
</head>

<body onload="findAllInput()">
  <h1>Chunking program test</h1>

  <label for="testInput">Test Input:</label>
  <input type="text" id="testInput" placeholder="chunking text input">

  <script>{%  include "SlicingAlgorithm.js" %}</script>
  <!--<script src="SlicingAlgorithm.js"></script>-->
  <script>{%  include "SetupPage.js" %}
  </script>
</body>

</html>