<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />-->

        <title>Spell Corrector</title>

        <link rel="icon" href="{% static 'favicon.ico' %}">

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/" />

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <!--    <link href="cover.css" rel="stylesheet">-->

        <!-- Bootstrap CSS and Icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet" />

<!--        <link href="{% static 'css/templateStyles.css' %}" rel="stylesheet"/>-->
        <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/homeStyles.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/spellCheckerStyles.css' %}" rel="stylesheet"/>

    </head>

    <body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            {% include "partials/navbar.html" %}
            <main role="main" class="inner cover d-flex flex-column flex-grow-1">
                <div class="container-fluid d-flex flex-column flex-grow-1">
                    <div class="row align-items-stretch flex-grow-1">
                        <div class="col-sm-12 d-flex flex-column flex-grow-1">
                            <div class="p-3 bg-primary text-white rounded mb-2">
                                <h1 class="mb-1" id="jumbo">SpellPal</h1>
                                <p>
                                    This webpage uses a variety of LLMs (Large Language Models) to detect user error in their writing. Providing analytics such as emotion. Start by selecting a model and language then type a sentence!
                                </p>
                            </div>
                            <div id="status-llm" style="margin-bottom: 8px; color: white;">&nbsp;</div>
                            <div class="row align-items-stretch flex-grow-1">
                                <div class="col-sm-6 d-flex">
                                    <div class="card w-100">
                                        <div class="card-body d-flex flex-column p-2">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="card-title mb-0">Enter your text:</h5>
                                                <div class="form-check form-switch" style="vertical-align: center">
                                                    <input class="form-check-input" type="checkbox" id="textSwitch" style="border: 1px solid black"/>
                                                    <label class="form-check-label" for="textSwitch">Use Premium Model</label>
                                                </div>
                                            </div>
                                            <textarea id="testInput" class="w-100 flex-grow-1" rows="12"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 d-flex">
                                    <div class="card w-100">
                                        <div class="card-body d-flex flex-column p-2">
                                            <h5 class="card-title mb-1">LLM Corrected Text:</h5>
                                            <textarea id="testTarget" class="w-100 flex-grow-1" rows="12" style="pointer-events: none"></textarea>
                                            <button class="btn btn-primary" id="copyButton"
                                                style="position: absolute; bottom: 25px; right: 25px;">Copy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="status" style="margin: 12px; color: white;">
                        <span id="status-text">&nbsp;</span>
                    </div>
                    <div class="row mb-2 align-items-stretch" style="min-height: 60px;">
                        <div class="col-sm-3 d-flex">
                            <div class="card p-2 flex-fill">
                                <h3 class="mb-1">Readability</h3>
                                <div id="readability" class="mono"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 d-flex">
                            <div class="card p-2 flex-fill">
                                <h3 class="mb-1">Emotions</h3>
                                <div id="emotion" class="mono" style="width: 200px; height: 200px; margin: 0 auto;">
                                    <canvas id="emotionsChart" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 d-flex">
                            <div class="card p-2 flex-fill">
                                <h3 class="mb-1">Formality</h3>
                                <div id="formality" class="mono">
                                    <canvas id="formalityChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <p class="mt-2">
                          Detected language: <span id="detected-language" ></span>
                        </p>
                    </div>
                </div>
                <script type=module >
                    import {eld} from "{% static 'js/languageDetection/languageDetector.js' %}"
                    window.eld = eld;
                </script>
                <script>
                    document.getElementById("copyButton").addEventListener("mousedown", () => {
                        const text = document.getElementById("testTarget-lmspelldiv").textContent;
                        console.log("Coying", text);
                        navigator.clipboard.writeText(text);
                    })


                    function getCookie(name) {
                        const value = `; ${document.cookie}`;
                        const parts = value.split(`; ${name}=`);
                        if (parts.length === 2) return parts.pop().split(";").shift();
                        return null;
                    }
                    const csrfToken = getCookie('csrftoken') || '';

                     let emotionsChart, formalityChart;
                      let emotionsColours={joy:"#f59e0b",sadness:"#60a5fa",anger:"#ef4444",fear:"#8b5cf6",disgust:"#10b981",surprise:"#f472b6",neutral:"#9ca3af"}


                    function fleschMeaning(score) {
                        if (score > 100) return "Super easy (child-level simplicity)";
                        if (score >= 90) return "Very easy (5th grade)";
                        if (score >= 80) return "Easy (6th grade)";
                        if (score >= 70) return "Fairly easy (7th grade)";
                        if (score >= 60) return "Standard (8th–9th grade)";
                        if (score >= 50) return "Fairly difficult (10th–12th grade)";
                        if (score >= 30) return "Difficult (college level)";
                        if (score >= 0) return "Very difficult (college graduate)";
                        return "Extremely complex / academic";
                    }

                    let timer = null;
                    let llmRequestObsAdded = false;


                     function initCharts() {
                      const emotionsElement = document.getElementById("emotionsChart").getContext("2d");
                      emotionsChart = new Chart(emotionsElement, {
                        type: "doughnut",
                        data: {labels: [], datasets: [{ data: [], borderWidth: 0,hoverOffset: 6,backgroundColor: []}]},
                        options: {responsive: true, plugins: { legend: { position: "left" } },
                        cutout: "60%"}});

                      const formalityElement = document.getElementById("formalityChart").getContext("2d");
                      formalityChart = new Chart(formalityElement, {
                        type: "bar",
                        data: {labels: ["Formal", "Informal"], datasets: [{ data: [0, 0] }]},
                        options: {responsive: true, plugins: { legend: { display: false } },
                          scales: {y: { beginAtZero: true, ticks: { callback: v => v + "%" } }}}
                      });
                    }
                    document.addEventListener("DOMContentLoaded", initCharts);

                    /*
                    async function language_detect(text) {
                        const response=await fetch("/api/language/",{method: "POST", headers: {"Content-Type": "application/json","X-CSRFToken": csrfToken}, body: JSON.stringify({ text })});
                        const data = await response.json();
                        if(typeof data.language === "string")
                        {
                            document.getElementById("language").textContent = data.language
                        }
                        else {
                            document.getElementById("language").textContent = (data.language && data.language.language) ? data.language.language :"Undefined Language"
                        }
                    }

                     */

                     async function analyze(text) {
                        if (text === "") {
                            return
                        }
                        const statusText = document.getElementById('status-text');

                        statusText.innerText = "Analyzing...";

                        const response = await fetch("/api/analyze/", {
                            method: "POST",
                            headers: { "Content-Type": "application/json",
                            'X-CSRFToken': csrfToken},
                            body: JSON.stringify({ text }),
                        });
                        const data = await response.json();
                        statusText.innerHTML = "&nbsp;";


                        if (!data.ok) {
                            document.getElementById("emotion").textContent = "—";
                            document.getElementById("formality").textContent = "—";
                            document.getElementById("readability").textContent = "—";
                            return;
                        }

                        let emotion_list = [];
                        if (Array.isArray(data.emotion?.all)) {
                          emotion_list = data.emotion.all;
                        }
                        const labels = emotion_list.map(e => e.label);
                        const color = labels.map(lab => emotionsColours[lab.toLowerCase()] || "#999");
                        emotionsChart.data.labels = labels;
                        emotionsChart.data.datasets[0].data =emotion_list.map(e => Math.round(e.score * 100));
                        emotionsChart.data.datasets[0].backgroundColor = color;
                        emotionsChart.update();


                        const formality = data.formality.scores || {};
                        const formalPercentage = Math.round((formality.label0 || 0) * 100);
                        const informalPercentage = Math.round((formality.label1 || 0) * 100);
                        formalityChart.data.datasets[0].data = [formalPercentage, informalPercentage];
                        formalityChart.update();



                        const fleschValue = Number(data.readability.flesch_reading_ease);
                        document.getElementById("readability").textContent = `${fleschMeaning(fleschValue)}\n`;

                        const meterFlesch = document.getElementById("meterFlesch")
                         if (meterFlesch) {
                             meterFlesch.value = Number(data.readability.flesch_reading_ease) || 0;
                         }
                    }

                    document.getElementById("testInput").addEventListener("input", () => {
                        clearTimeout(timer);
                        timer = setTimeout(() => {
                            document.getElementById("status-llm").textContent = "Waiting for LLM Response...";

                            if (llmRequestObsAdded === false) {
                              const testTDiv = document.getElementById("testTarget-lmspelldiv");

                              const testTDivObserver = new MutationObserver(() => {
                                document.getElementById("status-llm").textContent = '\u00A0';
                              });

                              testTDivObserver.observe(testTDiv, { subtree: true, characterData: true, childList: true });

                              llmRequestObsAdded = true;
                            }

                            const x = document.getElementById("testInput").value;
                            analyze(x);

                            const langSpan = document.getElementById("detected-language");
                            const language = eld.detect(x).language;
                            window.queryLanguage = language;
                            langSpan.innerText = language;
                            console.log(language);
                            ;}
                            ,500);
                    });
                </script>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>SpellPal</p>
                </div>
            </footer>
        </div>
   <script defer src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>





      </script>
        <script>  window.acceptChangeUrl = "{% url 'accept_change' %}";</script>
        <script>  window.spellCheckUrl = "{% url 'spell_check' %}";</script>
        <script type="module" src="{% static 'js/pageSetup.js' %}">
        </script>
    </body>
</html>
